.ex-1-square:hover {
    background-color: red;
}


.ex-2-square:active {
    width: 100%;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square:hover {
    background-color: #ff000000;
}

.ex-5-square:hover {
    width: 100px;
    height: 100px;
    margin: 0
}